agnostic/shared/src/main/resources/components.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ns.sakaiproject.org/2008/components"
	elementFormDefault="qualified" targetNamespace="http://ns.sakaiproject.org/2008/components"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Component">
		<xs:annotation>
			<xs:documentation>The definition of a component</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element minOccurs="1" name="name" type="xs:string" />
			<xs:element minOccurs="1" name="documentation" type="xs:string" />
			<xs:element minOccurs="1" name="activator" type="xs:string" />
			<xs:element minOccurs="0" name="componentDependencies"
				type="tns:ArrayOfComponentDependencies" />
			<xs:element minOccurs="0" name="dependencies" type="tns:ArrayOfDependencies" />
			<xs:element minOccurs="0" name="exports" type="tns:ArrayOfExports" />
			<xs:element minOccurs="0" name="managed" type="xs:boolean" />
			<xs:element minOccurs="0" name="startIndex" type="xs:long" />
			<xs:element minOccurs="0" name="totalResults" type="xs:long" />
		</xs:all>
	</xs:complexType>
	<xs:element name="component" type="tns:Component" />
	<xs:complexType name="ArrayOfComponentDependencies">
		<xs:annotation>
			<xs:documentation>A list of components that this component depends on</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="componentDependency"
				type="tns:ComponentDependency" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComponentDependency">
		<xs:annotation>
			<xs:documentation>A component that this component depends on</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element minOccurs="1" name="componentName" type="xs:string" />
			<xs:element minOccurs="0" name="managed" type="xs:boolean" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfDependencies">
		<xs:annotation>
			<xs:documentation>A list of classpath dependencies</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="dependency"
				type="tns:Dependency" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Dependency">
		<xs:annotation>
			<xs:documentation>Defines a dependency of this component</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element minOccurs="1" name="groupId" type="xs:string" />
			<xs:element minOccurs="1" name="artifactId" type="xs:string" />
			<xs:element minOccurs="1" name="version" type="xs:string" />
			<xs:element minOccurs="0" name="classifier" type="xs:string" />
			<xs:element minOccurs="0" name="scope" type="tns:scope" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="ArrayOfExports">
		<xs:annotation>
			<xs:documentation>A set of exports from this component</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="export"
				type="tns:PackageExport" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageExport">
		<xs:annotation>
			<xs:documentation>Defines packages that should be exported from this component</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element minOccurs="1" name="name" type="xs:string" />
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="scope">
		<xs:annotation>
			<xs:documentation>The Scope of the dependency determining which classloader its added to</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LOCAL" />
			<!--
				Local to the component Classloader
			-->
			<xs:enumeration value="SHARE" />
			<!--
				Add to the shared Classloader
			-->
			<xs:length value="5" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>