agnostic/shared/src/main/resources/components.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ns.sakaiproject.org/2008/components"
  elementFormDefault="qualified"
  targetNamespace="http://ns.sakaiproject.org/2008/components"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
   
  <xs:complexType name="Component">
    <xs:all>
      <xs:element minOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="1" name="documentation" type="xs:string" />
      <xs:element minOccurs="1" name="activator" type="xs:string" />
      <xs:element minOccurs="0" name="classPath" type="xs:string" />
      <xs:element minOccurs="0" name="dependencies" type="tns:ArrayOfDependencies" />
      <xs:element minOccurs="0" name="managed" type="xs:boolean" />
      <xs:element minOccurs="0" name="startIndex" type="xs:long" />
      <xs:element minOccurs="0" name="totalResults" type="xs:long" />
    </xs:all>
  </xs:complexType>
  <xs:element name="component" type="tns:Component" />
  <xs:complexType name="ArrayOfDependencies">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dependency" type="tns:Dependency" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dependency">
    <xs:all>
      <xs:element minOccurs="1" name="componentName" type="xs:string" />
      <xs:element minOccurs="0" name="managed" type="xs:boolean" />
    </xs:all>
  </xs:complexType>
</xs:schema>
